In [71]:
import numpy as np
import pandas as pd

In [72]:
df = pd.read_csv('heart.csv')
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [73]:
# norm_df = (df - df.mean()) / df.std()

In [74]:
## normalization >>>> minmaxScalar, Standardization

## MinMaxScalar >> (df - df.min()) / (df.max() - df.min())

## Standardization
(df - df.mean()) / df.std()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,0.950624,0.679881,1.969864,0.762694,-0.255910,2.390484,-1.004171,0.015417,-0.69548,1.085542,-2.270822,-0.713249,-2.145324,0.913019
1,-1.912150,0.679881,1.000921,-0.092585,0.072080,-0.416945,0.897478,1.630774,-0.69548,2.119067,-2.270822,-0.713249,-0.512075,0.913019
2,-1.471723,-1.465992,0.031978,-0.092585,-0.815424,-0.416945,-1.004171,0.975900,-0.69548,0.310399,0.974740,-0.713249,-0.512075,0.913019
3,0.179877,0.679881,0.031978,-0.662770,-0.198030,-0.416945,0.897478,1.237849,-0.69548,-0.206364,0.974740,-0.713249,-0.512075,0.913019
4,0.289984,-1.465992,-0.936965,-0.662770,2.078611,-0.416945,0.897478,0.582975,1.43311,-0.378618,0.974740,-0.713249,-0.512075,0.913019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.289984,-1.465992,-0.936965,0.477601,-0.101562,-0.416945,0.897478,-1.163356,1.43311,-0.723126,-0.648041,-0.713249,1.121174,-1.091653
299,-1.031296,0.679881,1.969864,-1.232956,0.342190,-0.416945,0.897478,-0.770432,-0.69548,0.138144,-0.648041,-0.713249,1.121174,-1.091653
300,1.501157,0.679881,-0.936965,0.705675,-1.027653,2.390484,0.897478,-0.377507,-0.69548,2.032940,-0.648041,1.242538,1.121174,-1.091653
301,0.289984,0.679881,-0.936965,-0.092585,-2.223854,-0.416945,0.897478,-1.512623,1.43311,0.138144,-0.648041,0.264644,1.121174,-1.091653
302,0.289984,-1.465992,0.031978,-0.092585,-0.198030,-0.416945,-1.004171,1.063216,-0.69548,-0.895381,-0.648041,0.264644,-0.512075,-1.091653

In [75]:
# norm_df['output'] = df['output']

In [76]:
#### Logistic Regression

In [77]:
### model.score(x_test, y_test)

## accuracy = correct prediction / total prediction

In [78]:
from sklearn.linear_model import LogisticRegression

In [79]:
LogisticRegression()

LogisticRegression()

In [80]:
df = pd.read_csv('heart.csv')

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [82]:
df.isnull().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [83]:
df_new = df.sample(frac=1, random_state=1)

In [84]:
303*0.7

212.1

In [85]:
train = df_new[:212].reset_index(drop=True)
test = df_new[212:].reset_index(drop=True)

In [86]:
train

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,62,0,0,160,164,0,0,145,0,6.2,0,3,3,0
1,56,1,1,130,221,0,0,163,0,0.0,2,0,3,1
2,48,1,0,130,256,1,0,150,1,0.0,2,2,3,0
3,60,1,0,130,206,0,0,132,1,2.4,1,2,3,0
4,50,1,0,150,243,0,0,128,0,2.6,1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,49,1,2,118,149,0,0,126,0,0.8,2,3,2,0
208,61,1,0,140,207,0,0,138,1,1.9,2,1,3,0
209,55,0,1,135,250,0,0,161,0,1.4,1,0,2,1
210,44,1,0,110,197,0,0,177,0,0.0,2,1,2,0
211,54,1,0,110,239,0,1,126,1,2.8,1,1,3,0

In [87]:
test

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,42,1,0,136,315,0,1,125,1,1.8,1,0,1,0
1,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
2,42,1,2,130,180,0,1,150,0,0.0,2,0,2,1
3,55,0,0,180,327,0,2,117,1,3.4,1,0,2,0
4,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,68,1,2,180,274,1,0,150,1,1.6,1,0,3,0
87,45,1,0,142,309,0,0,147,1,0.0,1,3,3,0
88,29,1,1,130,204,0,0,202,0,0.0,2,0,2,1
89,51,1,0,140,299,0,1,173,1,1.6,2,0,3,0
90,54,1,2,150,232,0,0,165,0,1.6,2,0,3,1

In [88]:
df_new.columns

Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output'],
      dtype='object')

In [89]:
x_train = train[['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall']]
y_train = train['output']

In [90]:
x_test = test[['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall']]
y_test = test['output']

In [91]:
from sklearn.linear_model import LogisticRegression

In [92]:
model = LogisticRegression()

In [93]:
model.fit(x_train, y_train)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [94]:
prediction = model.predict(x_test)
prediction

array([0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 1], dtype=int64)

In [95]:
y_test

0     0
1     0
2     1
3     0
4     1
     ..
86    0
87    0
88    1
89    0
90    1
Name: output, Length: 91, dtype: int64

In [96]:
pd.DataFrame({'Original':y_test, 'Prediction':prediction})

    Original  Prediction
0          0           0
1          0           0
2          1           1
3          0           0
4          1           1
..       ...         ...
86         0           0
87         0           0
88         1           1
89         0           0
90         1           1

[91 rows x 2 columns]

In [97]:
model.score(x_test, y_test)

0.9340659340659341

In [271]:
model = LogisticRegression(max_iter=57, C=0.6)
model.fit(x_train, y_train)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(C=0.6, max_iter=57)

In [267]:
prediction = model.predict(x_test)

In [268]:
pd.DataFrame({'Original':y_test, 'Predicted':prediction})

    Original  Predicted
0          0          0
1          0          0
2          1          1
3          0          0
4          1          1
..       ...        ...
86         0          0
87         0          0
88         1          1
89         0          0
90         1          1

[91 rows x 2 columns]

In [269]:
model.score(x_test, y_test)

0.9340659340659341

In [261]:
### SOLVERS >>> newton-cg:90.01%, liblinear:93.406%, sag:72.527%, saga:72.527%, lbfgs(default):93.406%
### MAX_ITERS >>> '10':71.428%, '30':90.01%, '50':91.208, '57':93.406, '70':93.406%, '100'(default):93.406%, '500':90.109%
### C >>> '0.5':92.307%, '0.6':93.406%, '1.0'(default):93.406%, '3.0':93.406%
### MULTI_CLASS >>> ovr:93.406%, multinomial:92.307%, auto(default):93.406%
### VERBOSE >>> '0'(default):93.406%, '0.5':93.406%, '1':93.406%, '5':93.406%

In [273]:
from sklearn.neighbors import KNeighborsClassifier

In [306]:
model = KNeighborsClassifier(leaf_size=100)
model.fit(x_train, y_train)

KNeighborsClassifier(leaf_size=100)

In [307]:
prediction = model.predict(x_test)

In [310]:
dddf = pd.DataFrame({'Original':y_test, 'Predicited':prediction})

In [309]:
model.score(x_test, y_test)

0.6703296703296703

In [ ]:
### ALGORITHM >>> ball_tree:67.032%, kd_tree:67.032%, brute:67.032%, auto(default):67.032%
### LEAF SIZE >>> '30'(default):67.032%, '50':67.032%, '70':67.032%, '100':67.032%

In [ ]:
## Algorithm LogisticRegression >>> 93.406 % Accuracy
## Algorithm KNeighborsClassifier >>> 67.032 % Accuracy